{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% load custom_filter %}{% load custom_tag %}
{% block title %}Change Password | MHC Dashboard{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div id="content-main">
	<h1>Change Password</h1>
	<form id="user_form" method="post" action="">{% csrf_token %}
		<fieldset class="module aligned">
			<div class="form-row field-old_password">
				<p>{{user_password_form.old_password.errors}}</p>
				<label for="id_old_password" class="required">{{user_password_form.old_password.label}}:</label>
				{{user_password_form.old_password}}
				<p class="help">{{user_password_form.old_password.help_text}}</p>
			</div>
			<div class="form-row field-new_password1">
				<p>{{user_password_form.new_password1.errors}}</p>
				<label for="id_new_password1" class="required">{{user_password_form.new_password1.label}}:</label>
				{{user_password_form.new_password1}}
				<p class="help">{{user_password_form.new_password1.help_text}}</p>
			</div>
			<div class="form-row field-new_password2">
				<p>{{user_password_form.new_password2.errors}}</p>
				<label for="id_new_password2" class="required">{{user_password_form.new_password2.label}}:</label>
				{{user_password_form.new_password2}}
				<p class="help">{{user_password_form.new_password2.help_text}}</p>
			</div>
		</fieldset>
		<div class="form-submit-buttons">
			<p>
				<input type="submit" name="save" id="save-button" value="Change" class="btn btn-outline btn-primary">
			</p>
		</div>
	</form>
</div>
{% endblock %}