{% extends "admin/index.html" %}
{% load i18n bootstrapped_goodies_tags %}
{% load custom_filter %}{% load custom_tag %}
{% if not is_popup %}
{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% setting 'ROOT_APP_URL' %}/home/">{% trans 'Home' %}</a></li>
{% if user|has_group:"Superuser" %}
<li><a href="{% url 'admin:index' %}">{% trans 'Superuser Admin Home' %}</a></li>
{% endif %}
{% if user|has_group:"MHC Admin" %}
{% for app in app_list %}
<li>Admin</li>
{% endfor %}
<li><a href="{% setting 'ADMIN_ROOT_URL' %}/admin/mhcdashboardapp/indicator/">Indicator (Admin)</a></li>
{% endif %}
<li><a href="{% setting 'ROOT_APP_URL' %}/indicator/">Indicator</a></li>
<li><a href="{% setting 'ADMIN_ROOT_URL' %}/admin/mhcdashboardapp/workplanarea/">Workplan Area</a></li>
<li><a href="{% setting 'ADMIN_ROOT_URL' %}/admin/mhcdashboardapp/mhcactivity/">MHC Activity</a></li>
<li><a href="{% setting 'ADMIN_ROOT_URL' %}/admin/mhcdashboardapp/organization/">Organization</a></li>
<li><a href="{% setting 'ADMIN_ROOT_URL' %}/admin/mhcdashboardapp/organizationactivity/">Organization Activity</a></li>
<li>
{% if user|has_group:"Non-profit Staff" %}
	<a href="{% setting 'ROOT_APP_URL' %}/output/report/">
{% else %}
  <a href="{% setting 'ADMIN_ROOT_URL' %}/admin/mhcdashboardapp/output/">
{% endif %}
  Output</a>
</li>
</ul>
{% endblock %}
{% endif %}

{% block content_title %}
{% for app in app_list %}
<a class="navbar-brand">{% render_app_name app %} {% trans "administration" %}</a>
{% endfor %}
{% endblock %}

{% block sidebar %}{% endblock %}
